@import url('https://fonts.googleapis.com/css2? family= Lato:wght@300;400;700 & family= League+Spartan:wght@500;600;700 & family= Manrope & family= Montserrat:wght@100 & family= Viaduto:wght@400;700 & display=swap');

#app {
    font-family: Lato;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // text-align: center;
    color: var(--color-tertiary);//#2c3e50;
  }
  
  
  
  nav {
    padding: 30px;
    position: absolute;
    z-index: 1;
  
    li {
      list-style: none;
      display: inline-block;
      margin: 10px 10px;
    }
  
    a {
      font-weight: 500;
      color: var(--color-tertiary);//#2c3e50;
  
      &.router-link-exact-active {
        color: var(--color-primary-dark);
      }
    }
  }

  .mobileMenu {
    cursor: pointer;
  }

  .mobileMenu div {
    width: 32px;
    height: 2px;
    background: var(--color-primary);
    margin: 8px;
  }

  @media (max-width:375px) {
    
      .navList {


      }
  
  }