*,*::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: hsl(0deg, 0%, 63%);
    --color-primary-dark: hsl(0deg, 0%, 27%);
    --color-secondary: hsl(0deg, 0%, 0%);
    --color-tertiary: hsl(0deg, 0%, 100%);
    --default-size: 1.2rem;
}

.container-top {
    display: flex;
    justify-content: center;
    align-items: center;

    .img-hero-1 {
        height: 450px;
        width: 55rem;
    }

    h1{
        color: var(--color-primary-dark);
        padding: 15px;
        margin: 15px;

    }

    p {
        color: var(--color-primary);
        padding: 15px;
        margin: 15px;
        margin-right: 200px;
    }

    h4{
        color: var(--color-primary-dark);
        padding: 15px;
        margin: 15px;
        letter-spacing: 1em;
    }

    .botoes-nav {
        position: relative;
        top: 63.5px;
    }

    

    .botoes-nav .botao-left {
        width: 90px;
        height: 80px;
    
        background-image: url('../assets/icon-angle-left.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-color: var(--color-secondary);
        border: none;
        

    }

    .botoes-nav .botao-right {
        width: 90px;
        height: 80px;
    
        background-image: url('../assets/icon-angle-right.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-color: var(--color-secondary);
        border: none;

    }
    

}

.container-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -3px;

    .img-dark-about, .img-light-about {
        height: 270px;
        width: 430px;
        margin-right: 47px;
    }

    h2 {
        color: var(--color-secondary);
        margin: 10px;
        padding: 10px;
    }

    p {
        color: var(--color-primary);
        margin: 10px;
        padding: 10px;
    }

}

@media (max-width: 375px) {
    .container-top {
        display: flex;
        flex-direction: column;
    
        .img-hero-1 {
            height: 250px;
            width: 375px;
        }
    
        h1{
            color: var(--color-primary-dark);
            font-size: 12px;
            margin-top: -5px;
        }
    
        p {
            color: var(--color-primary);
            font-size: 10px;
            margin-top: -20px;
            
        }
    
        h4{
            color: var(--color-primary-dark);
            font-size: 10px;
            margin-top: -15px;
        }
    
        .botoes-nav {
            position: relative;
            top: 0px;
        }
    
        
    
        .botoes-nav .botao-left {
            width: 50px;
            height: 40px;
        }
    
        .botoes-nav .botao-right {
            width: 50px;
            height: 40px;
    
        }
        
    
    }

    .container-bottom {
        display: flex;
        flex-direction: column;
    
        .img-dark-about, .img-light-about {
            height: 250px;
            width: 375px;
        }
    
        h2 {
            color: var(--color-secondary);
            font-size: 12px;
        }
    
        p {
            color: var(--color-primary);
            font-size: 10px;
            margin-right: 100px;
        }
    
    }
}
